
html, body {
    background-color: #44474c;
}

#podboy-logo {
    //height: 90px;
    margin-top: -10px;
    
}
#podboy-title {
    color: #ff7f5f;
    font-weight: bold;
    font-size: 22px;
}

.dropdown-dark {
    background-color: #222;
}
.dropdown-menu>li>a {
    color: #9d9d9d;
}

#list-area button:focus, #list-area button:active {
   outline: none !important;
}

#work-area {
    margin-top: 50px;
    margin-bottom: 80px;
    color: #000;
}



/* larger screens */
@media (min-width: 768px) {
    #work-area {
	margin-top: 120px;
	margin-bottom: 100px;
	border-radius: 8px;
	overflow: hidden;
    }
    .navbar-fixed-top {
	top: 20px;
    }
    #podboy-logo {
	margin-top: -32px;
	margin-left: -20px;
    }
}


/* smaller screens */
@media (max-Width: 767px) {
    .list-episode-date {
	color: #888;
	margin-left: 20px;
	font-size: 0.85em;
    }
}




#episode-list {
    border-radius: 5px;
    overflow: hidden;
}

.list-episode-row {
    background-color: #fff;
    border: solid 1px #eaeaea;
    padding: 8px;
}

.list-episode-row:hover {
    background-color: #eee;
}
.list-episode-row.playing {
    background-color: #ff7f5f;
}
.list-episode-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*FF7F5F*/




#player-pane {
    width: 100%;
    height: 80px;
    background-color: #222;
    color: #fff;
    position: fixed;
    bottom: 0px;
    padding: 0px 10px;
    z-index: 9999;
    font-size: 0px;
}


#progress-bar {
    position: relative;
    background-color: #555;
    height: 5px;
    width: 100%;
}
#buffer {
    position: absolute;
    background-color: #777;
    height: 100%;
    width: 0%;
}
#progress {
    position: absolute;
    background-color: #ff7f5f;
    height: 100%;
    width: 0%;
}

#times {
    font-size: 12px;
}
#time-current {
    float: left;
}
#time-total {
    float: right;
}

#controls {
    //background-color: #3aa;
    width: 100%;
    padding: 15px 0px;
    height: 45px;
    text-align: center;
    white-space: nowrap;
}
.control-button {
    line-height: 45px;
    vertical-align: middle;
    margin: 0px 1vw;
    padding: 0px 2vw;
    font-size: 20px;
    //background-color: #888
}
.control-button:hover {
    color: #ff7f5f;
}
#play-pause {
    font-size: 36px;
}

#step-backward {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}


#volume-container {
    position: absolute;
    left: 10px;
    top: 21px;
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #222;
}
#volume-container:hover {
    width: auto;
}

#volume {
    padding: 0px 5px;
    margin: 0px 5px;
}
#volume-slider {
    position: relative;
    display: inline-block;
    height: 3px;
    width: 70px;
    background-color: #555;
    vertical-align: middle;
}
#current-volume {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 20%;
}
#volume-knob {
    //display: inline-block;
    position: absolute;
    right: -6px;
    top: -4px;
    height: 12px;
    width: 12px;
    //margin-top: -8px;
    //margin-left: -6px;
    //border: 2px solid #fff;
    border-radius: 20px;
    background-color: #fff;
}


/*

html, body {
    height: 100%;
}
body {
    padding-top: 70px;
    padding-bottom: 80px;
}
#work-area {
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0px 0px;
    height: 100%;
    overflow-y: auto;
}

//*smaller screens
@media (max-Width: 767px) {
    body {
	padding-top: 50px;
	padding-bottom: 80px;
    }
    #work-area {
	padding: 0px;
    }
}


#work-area::-webkit-scrollbar {
    width: 0.8em;
}
 
#work-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#work-area::-webkit-scrollbar-thumb {
    margin: 10px;
    border-radius: 10px;
  background-color: #9d9d9d;
  outline: 1px solid #44474c;
}

*/